.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px
}

.meus-filmes ul{
    width: 600px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.meus-filmes button{
    padding: 5px;
    margin: 5px;
    background-color: brown;
    border-radius: 5px;
    color: #fff;
}   