.container{
    max-width: 800px;
    margin: 14px auto;
  
}

article{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
  
}

strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.container img{
    width: 50%;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
    margin: auto;
}

.container a{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: auto;


}